/12843/solution/PathToFile/nbproject/private/
/12843/solution/PathToFile/build/
/12843/solution/PathToFile/dist/
/12843/solution/BlindRobot/nbproject/private/
/12843/solution/BlindRobot/build/
/12843/solution/BlindRobot/dist/